.container-hours {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
  margin: 0 auto;
  font-weight: 200;
  width: 80%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.801);
}

.container-hours::-webkit-scrollbar {
  height: 6px;
}

.container-hours::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.container-hours::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.container-hours::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.card-hour {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 5.3rem;
  height: 7.3rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem 1rem;
  backdrop-filter: blur(3px);
}

@media (min-width: 640px) {
  .container-hours {
    max-width: 432px;
  }
}

@media (min-width: 768px) {
  .container-hours {
    max-width: 490px;
  }
}

@media (min-width: 1024px) {
  .container-hours {
    max-width: 624px;
  }
}

@media (min-width: 1280px) {
  .container-hours {
    max-width: 720px;
  }
}

@media (min-width: 1536px) {
  .container-hours {
    max-width: 790px;
  }
}
