.card_alert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(244, 9, 9, 0.093);
}
.card_alert p {
  font-weight: 200;
}
.card_alert h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.card_alert > div {
  padding: 0.5rem;
}
.card_alert > div > ul > li {
  list-style: none;
}
