.background {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 0 auto;
  border-radius: 2rem;
  width: 90%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(3px);
}

h1 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.801);
}

.background p {
  font-size: 1rem;
  font-weight: 500;
}

.degre {
  font-size: 1.5rem;
  font-weight: 300;
}

.minmax {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.minmax p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.MainDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1rem;
}

.meteo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meteo > img {
  margin-bottom: -1rem;
}

.meteo2 > .description {
  font-size: 2rem;
  text-align: center;
}

.trait {
  border: 1px solid rgba(255, 255, 255, 0.267);
  margin: 0 5rem;
}

.description p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem;
  text-align: center;
}

.description span {
  font-weight: 600;
}

.title-main-card {
  text-align: center;
}

@media (min-width: 640px) {
  .background {
    max-width: 440px;
  }
}

@media (min-width: 768px) {
  .background {
    max-width: 520px;
  }
}

@media (min-width: 1024px) {
  .background {
    max-width: 680px;
  }
}

@media (min-width: 1280px) {
  .background {
    max-width: 780px;
  }
}

@media (min-width: 1536px) {
  .background {
    max-width: 880px;
  }
}
