.main-card-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.city-date-main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-main-card {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

.date-main-card {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.main-card-container {
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.093);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.left-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.ressenti {
  display: flex;
  padding: 0.3rem;
}
.vent {
  display: flex;
  padding: 0.3rem;
}
.humidite {
  display: flex;
  padding: 0.3rem;
}

.right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-data-main-card {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 0.5rem;
}

.temperature-main-card {
  font-size: 3rem;
  font-weight: 500;
}
