.nav-container {
  position: fixed;
  display: flex;
  width: 250px;
  height: 40px;
  left: 50%;
  bottom: 1.4rem;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.295);
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.icon {
  font-size: 25px;
}
